<style>
  body{
    text-align: justify;
  },

</style>

<title>Sign In</title>

<% user = User.find_by(:id => session[:user_id]) %>

<p>Evanston, IL: <%= @data["main"]["temp"].ceil %>&deg;F  <img src="http://openweathermap.org/img/w/<%= @weather[0]['icon'] %>.png"></p>

<h1>Welcome to 1Y Course Review, <%= user.first_name %>!</h1>
<br>
<h3>About 1Y Course Review</h3>

<h4> 1Y Course Review allows you to provide and explore detailed feedback on individual Kellogg courses. While TCEs offer general ratings of courses and professors for use during class selection and bidding, these reviews often fall short of providing the firsthand perspective you and your classmates desire. Through 1Y Course Review, you are able to browse feedback provided specifically by your 1Y classmates.</h4>
<br>
<%= link_to "Get Started", "/courses", :class => "btn btn-md btn-default" %>

