<div class="page-header">
  <h1>Add a New Course to 1Y Course Review</h1>
</div>

<form action="/courses/create" class="col-md-12">

  <div class="form-group">
      <label class="control-label">Select the Course Department:</label>
      <div class="control-label">
        <select name="department_id" class="form-control" id="department_id">
          <% Department.all.order("name").each do |department| %>
            <option value=<%= Department.find_by(:name => department.name).id %>><%= department.name %></option>
          <% end %>
        </select>
      </div>
  </div>

  <div class="form-group">
    <label class="control-label">Course Code:</label>
    <input name="course_code" type="text" class="form-control input-md" placeholder="Please enter the 3 digit course code (i.e., 441)">
  </div>

  <div class="form-group">
    <label class="control-label">Course Title:</label>
    <input name="title" type="text" class="form-control input-md" placeholder="Example: Startup Programming and Management">
  </div>

  <div class="form-group">
    <label class="control-label">Course Description:</label>
    <textarea name="description" class="form-control input-md"  rows="5" placeholder="Please copy and paste course description from Kellogg Bidding site or course syllabus"></textarea>
  </div>

  <button type="submit" class="btn btn-success btn-md">Add Course</button>
  or
  <a href="/courses">Cancel</a>
</form>
